.git
.github
.agents
.codex

node_modules
dist
coverage

.env
.env.*

*.log
npm-debug.log*

.eslintcache
.prettierignore
.prettierrc*

.idea
.vscode
.DS_Store
Thumbs.db

test
bruno
docs
README.md
get-clerk-session-token.sh
